
header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

nav{
	line-height: 30px;
	background-color: #eeeeee;
	height: 490px;
	width: 100px;
	float: left;
	padding: 5px;
}
.canvasAlign{
	margin-right: 20px;
	margin-top: 8px;
	width: 700px;
	height: 300px;
	float: right;
}

.tableSection{
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-top: 18px;
	float: left;
}